@charset "UTF-8";
/*****************************************************************************/
/*
/* Tufte Jekyll blog theme
/* Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
/*
/* The README.md will show you how to set up your site along with other goodies
/*****************************************************************************/
@font-face {
  font-family: 'dm_sans_mediumregular';
  src: url("../fonts/dm-sans-500-webfont.woff2") format("woff2"), url("../fonts/dm-sans-500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dm_sans_mediumitalic';
  src: url("../fonts/dm-sans-500italic-webfont.woff2") format("woff2"), url("../fonts/dm-sans-500italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dm_sansbold';
  src: url("../fonts/dm-sans-700-webfont.woff2") format("woff2"), url("../fonts/dm-sans-700-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dm_sansbold_italic';
  src: url("../fonts/dm-sans-700italic-webfont.woff2") format("woff2"), url("../fonts/dm-sans-700italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dm_sansitalic';
  src: url("../fonts/dm-sans-italic-webfont.woff2") format("woff2"), url("../fonts/dm-sans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dm_sansregular';
  src: url("../fonts/dm-sans-regular-webfont.woff2") format("woff2"), url("../fonts/dm-sans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gt_pressura_monobold';
  src: url("../fonts/gt-pressura-mono-bold-webfont.woff2") format("woff2"), url("../fonts/gt-pressura-mono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* This file contains all the constants for colors and font styles */
/**
 * Syntax highlighting styles
 */
* {
  margin: 0;
  padding: 0; }

/* clearfix hack after Cederholm (group class name) */
.group:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  height: 100%; }

html {
  text-align: baseline;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media screen and (min-width: 800px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 900px) {
  html {
    font-size: 13px; } }
@media screen and (min-width: 1000px) {
  html {
    font-size: 14px; } }
@media screen and (min-width: 1100px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px; } }
@media screen and (min-width: 1300px) {
  html {
    font-size: 18px; } }
.mjx-math {
  font-size: 1.3rem; }

a {
  color: #21B2B2;
  text-decoration: none; }

p > a, cite > a, span > a {
  color: #313639;
  text-decoration: none;
  background: -webkit-linear-gradient(#E6EFF2, #E6EFF2), -webkit-linear-gradient(#E6EFF2, #E6EFF2), -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(#E6EFF2, #E6EFF2), linear-gradient(#E6EFF2, #E6EFF2), linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #E6EFF2, -0.03em 0 #E6EFF2, 0 0.03em #E6EFF2, 0 -0.03em #E6EFF2, 0.06em 0 #E6EFF2, -0.06em 0 #E6EFF2, 0.09em 0 #E6EFF2, -0.09em 0 #E6EFF2, 0.12em 0 #E6EFF2, -0.12em 0 #E6EFF2, 0.15em 0 #E6EFF2, -0.15em 0 #E6EFF2;
  background-position: 0% 93%, 100% 93%, 0% 93%; }

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: "dm_sans_regular", sans-serif;
  background-color: #E6EFF2;
  color: #313639;
  max-width: 1400px;
  counter-reset: sidenote-counter; }

header {
  width: 100%;
  height: 50px; }

h1 {
  font-family: "gt_pressura_monobold", monospace;
  font-weight: 700;
  text-transform: uppercase;
  color: #21B2B2;
  margin-top: 1.568rem;
  margin-bottom: 1.568rem;
  font-size: 3.167rem;
  line-height: 1.12; }

h2 {
  font-family: "gt_pressura_monobold", monospace;
  font-weight: 700;
  color: #21B2B2;
  text-transform: uppercase;
  margin-top: 1.866666666666667rem;
  margin-bottom: 0;
  font-size: 1.33rem;
  line-height: 1.12; }

h3 {
  font-weight: 400;
  font-size: 1.33rem;
  margin-top: 2.1777777777777778rem;
  margin-bottom: 0;
  line-height: 1.08888888888889; }

h6 {
  font-family: "dm_sans_regular", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  width: 55%;
  margin-top: 1.4rem; }
  h6 em {
    background-color: #21B2B2;
    color: #E6EFF2; }

.highlight {
  background: #21B2B2;
  color: #E6EFF2; }

p.subtitle {
  font-size: 0.86rem;
  display: block;
  line-height: 1.08888888888889; }

p, ol, ul {
  font-size: 1rem; }

p {
  margin-top: 1.4rem; }

li {
  margin-top: 0.778rem; }

p, li {
  line-height: 1.5;
  padding-right: 2rem;
  vertical-align: baseline; }

/* Chapter Epigraphs */
div.epigraph {
  margin: 3.5636rem 0; }

div.epigraph > blockquote {
  margin-top: 3rem;
  margin-bottom: 3rem; }

div.epigraph > blockquote, div.epigraph > blockquote > p {
  font-style: italic; }

div.epigraph > blockquote > footer {
  font-style: normal;
  width: 45%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 0;
  margin-top: 0.4455rem;
  margin-bottom: 3.1182rem; }

div.epigraph > blockquote > footer > cite {
  font-style: italic; }

/* end chapter epigraphs styles */
blockquote p, blockquote footer {
  width: 45%;
  padding-left: 2.5%;
  padding-right: 2.5%; }

blockquote footer {
  font-size: 1.1rem;
  line-height: 1.78181818;
  margin-top: 1.78181818rem;
  margin-bottom: 1.78181818rem;
  text-align: right; }

/* blockquote footer { width: 45%;
                    text-align: right; }
*/
.sans {
  font-family: "dm_sans_regular", sans-serif;
  letter-spacing: .03em; }

pre, pre code, p code, p pre code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.71428571;
  margin-top: 1.71428571rem; }

h1 code, h2 code, h3 code {
  font-size: 0.80em; }

/*-- Table styling section - For Tufte-Jekyll, booktabs style is default for Markdown tables  --*/
table, table.booktabs {
  width: auto;
  border-spacing: 0px;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333; }

.booktabs th, th {
  border-bottom: 1px solid #333333;
  padding: 0.65ex 0.5em 0.4ex 0.5em;
  font-weight: normal; }

th, td {
  font-size: 1.2rem;
  line-height: 1.71428571; }

.booktabs th.cmid, th {
  border-bottom: 1px solid #737373; }

.booktabs th.nocmid {
  border-bottom: none; }

.booktabs tbody tr:first-child td, tr:first-child td {
  padding-top: 0.65ex; }

/* add space between thead row and tbody */
.booktabs td, td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left; }

.booktabs caption, caption {
  font-size: 90%;
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1ex;
  caption-side: top; }

.booktabs tbody tr, .booktabs thead tr th.l, .booktabs td.l {
  text-align: left !important; }

.booktabs tbody tr, .booktabs thead tr th.c, .booktabs td.c {
  text-align: center !important; }

.booktabs tbody tr, .booktabs thead tr th.r, .booktabs td.r {
  text-align: right !important; }

.table-caption {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.96; }

/* -- End of Table Styling section --*/
/* Basic Layout stuff --*/
article {
  position: relative;
  padding: 1 rem 0rem 2.5rem 0rem; }

section {
  padding-top: 1rem;
  padding-bottom: 1rem; }

ul, ol {
  width: 45%;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%; }

figure, figure img.maincolumn {
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3rem;
  margin-top: 3rem; }

figcaption {
  float: right;
  clear: right;
  margin-right: -50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.778rem;
  line-height: 1.5;
  vertical-align: baseline;
  position: relative;
  max-width: 40%; }

figure.fullwidth figcaption {
  float: left;
  margin-right: 0%;
  margin-left: 33%;
  max-width: 100%; }

img {
  max-width: 100%; }

.sidenote, .marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 1.96rem;
  font-size: 0.778rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  vertical-align: baseline;
  position: relative; }

li .sidenote, li .marginnote {
  margin-right: -80%; }

blockquote .sidenote, blockquote .marginnote {
  margin-right: -79%; }

.sidenote-number {
  counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: "dm_sans_regular", sans-serif;
  color: #21B2B2;
  position: relative;
  vertical-align: baseline; }

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }

.sidenote:before {
  content: counter(sidenote-counter) ". ";
  color: #21B2B2;
  top: 0rem; }

p, footer, div.table-wrapper, .MJXc-display {
  width: 55%; }

li p {
  width: 100%; }

div.table-wrapper, table {
  overflow-x: auto; }

@media screen and (max-width: 760px) {
  p, h6, footer {
    width: 90%; }

  pre code {
    width: 87.5%; }

  ul {
    width: 85%; }

  figure {
    max-width: 90%; }

  figcaption, figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none; }

  blockquote p, blockquote footer, div.epigraph > blockquote > footer, .MJXc-display {
    width: 80%;
    padding-left: 5%;
    padding-right: 5%; } }
.marginnote code, .sidenote code {
  font-size: 0.778rem; }

pre {
  width: 52.5%;
  padding-left: 2.5%;
  overflow-x: auto; }

.fullwidth, li.listing div {
  max-width: 75%; }

@media screen and (max-width: 1000px) {
  .fullwidth, li.listing div {
    max-width: 100%; } }
.full-width .sidenote, .full-width .sidenote-number, .full-width .marginnote {
  display: none; }

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
  letter-spacing: 0.05rem; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
    color: #21B2B2; }

  .sidenote, .marginnote {
    display: none; }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }

  label {
    cursor: pointer; }

  pre, pre code, p code, p pre code {
    width: 90%;
    padding: 0; }

  .table-caption {
    display: block;
    float: right;
    clear: both;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: baseline;
    position: relative; }

  div.table-wrapper, table, table.booktabs {
    width: 85%; }

  div.table-wrapper {
    border-right: 1px solid #efefef; }

  img {
    max-width: 100%; }

  figcaption.maincolumn-figure, figure.fullwidth figcaption {
    float: none;
    text-align: center; }

  figure.fullwidth figcaption {
    margin-left: 0; } }
/*--- End of Basic Layout stuff from tufte.css ---*/
/* -- Jekyll specific styling --*/
.contrast {
  color: #21B2B2; }

.smaller {
  font-size: 80%; }

.topnav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #263C4D;
  height: 50px;
  width: 100%; }

.topnav a {
  display: inline-block;
  color: white;
  padding-bottom: 3px;
  margin-right: 2rem; }

.topnav a.logo-link {
  padding: 0 12px;
  margin-left: 15px; }

.topnav a.login-link {
  margin-left: auto; }

.topnav img.logo {
  height: 23px; }

header > nav.group, body footer {
  width: 95%;
  padding-top: 2rem; }

nav.group a.active:before {
  content: "\0003c\000a0"; }

nav.group a.active:after {
  content: " >"; }

ul.footer-links, .credits {
  list-style: none;
  text-align: center;
  margin: 0 auto; }

ul.footer-links li {
  display: inline;
  padding: 0.5rem 0.25rem; }

.credits {
  padding: 1rem 0rem; }

.credits {
  font-family: "dm_sans_regular", sans-serif; }
  .credits a {
    color: #21B2B2; }

.listing h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem; }

.listing p {
  margin-top: 1rem; }

body.full-width, .content-listing, ul.content-listing li.listing {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 5%; }

.full-width article p {
  width: 90%; }

h1.content-listing-header {
  font-style: normal;
  text-transform: uppercase;
  font-size: 3.167rem;
  line-height: 1.12;
  padding-left: 9%; }

h1.content-listing-header em {
  font-style: normal;
  position: relative;
  color: #E6EFF2; }

h1.content-listing-header em::after {
  content: "";
  top: 0;
  right: -0.5rem;
  left: -0.5rem;
  bottom: 0;
  background-color: #21B2B2;
  position: absolute;
  z-index: -1; }

@media screen and (max-width: 700px) {
  h1.content-listing-header em {
    display: block;
    width: 22.5rem; } }
li.listing hr {
  width: 100%; }

.listing, .listing h3, .listing h6 {
  display: inline-block;
  color: #313639;
  width: 100%; }

li.listing {
  margin: 0; }
  li.listing p {
    width: 100%; }

li.listing:last-of-type {
  border-bottom: none;
  margin-bottom: 1.4rem; }

li.listing h3.new {
  text-transform: uppercase;
  font-style: normal; }

hr.slender {
  display: none;
  border: 0;
  height: 1px;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

@media screen {
  .print-footer {
    display: none; } }
@media print {
  * {
    -webkit-transition: none !important;
    transition: none !important; }

  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.75in 0.5in 0.75in 0.5in;
    orphans: 4;
    widows: 2; }
  body {
    font-size: 12pt; }

  html body span.print-footer {
    font-family: "dm_sans_regular", sans-serif;
    font-size: 9pt;
    margin-top: 22.4pt;
    padding-top: 4pt;
    border-top: 1px solid #000; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 4;
    widows: 4; }

  article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
    page-break-after: avoid; }

  body header, body footer {
    display: none; } }
/* --- Icomoon icon fonts CSS --*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?pmc8bw");
  src: url("../fonts/icomoon.eot?pmc8bw#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?pmc8bw") format("truetype"), url("../fonts/icomoon.woff?pmc8bw") format("woff"), url("../fonts/icomoon.svg?pmc8bw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail3:before {
  content: "\ea85"; }

.icon-amazon:before {
  content: "\ea87"; }

.icon-google2:before {
  content: "\ea89"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-rss2:before {
  content: "\ea9c"; }

.icon-youtube:before {
  content: "\ea9d"; }

.icon-vimeo2:before {
  content: "\eaa1"; }

.icon-lanyrd:before {
  content: "\eaa2"; }

.icon-flickr3:before {
  content: "\eaa5"; }

.icon-behance2:before {
  content: "\eaa9"; }

.icon-dropbox:before {
  content: "\eaae"; }

.icon-github:before {
  content: "\eab0"; }

.icon-blogger2:before {
  content: "\eab8"; }

.icon-soundcloud2:before {
  content: "\eac4"; }

.icon-skype:before {
  content: "\eac5"; }

.icon-reddit:before {
  content: "\eac6"; }

.icon-linkedin:before {
  content: "\eac9"; }

.icon-pinterest:before {
  content: "\ead1"; }

.icon-paypal:before {
  content: "\ead8"; }

.icon-html-five:before {
  content: "\eae4"; }

/*-- End of Icomoon icon font section --*/
