// Font imports file. If you don't want these fonts, comment out these and add your own into the fonts directory 
// and point the src attribute to the file.
// 

@charset "UTF-8";

@font-face {
    font-family: 'dm_sans_mediumregular';
    src: url('../fonts/dm-sans-500-webfont.woff2') format('woff2'),
         url('../fonts/dm-sans-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dm_sans_mediumitalic';
    src: url('../fonts/dm-sans-500italic-webfont.woff2') format('woff2'),
         url('../fonts/dm-sans-500italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dm_sansbold';
    src: url('../fonts/dm-sans-700-webfont.woff2') format('woff2'),
         url('../fonts/dm-sans-700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dm_sansbold_italic';
    src: url('../fonts/dm-sans-700italic-webfont.woff2') format('woff2'),
         url('../fonts/dm-sans-700italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dm_sansitalic';
    src: url('../fonts/dm-sans-italic-webfont.woff2') format('woff2'),
         url('../fonts/dm-sans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dm_sansregular';
    src: url('../fonts/dm-sans-regular-webfont.woff2') format('woff2'),
         url('../fonts/dm-sans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_pressura_monobold';
    src: url('../fonts/gt-pressura-mono-bold-webfont.woff2') format('woff2'),
         url('../fonts/gt-pressura-mono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
